html {
  font-size: 16px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(225deg,
    #f44336, #e91e63, #9c27b0, #673ab7,
    #3f51b5, #2196f3, #03a9f4, #00bcd4,
    #009688, #4caf50, #8bc34a, #cddc39,
    #ffeb3b, #ffc107, #ff9800, #ff5722);
  background-size: 3200% 3200%;
  animation: changeBackground 300s ease infinite;
}

@keyframes changeBackground {
  0%{background-position:100% 0}
  50%{background-position:0 100%}
  100%{background-position:100% 0}
}

.card {
  border-radius: $border-radius;
  background-color: #fff;
}
