html {
  font-size: 16px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #298cbe url("./assets/images/bg.jpg") center no-repeat;
  background-size: cover;
}

body {
  font-family: $font-family-base;
  color: white;
  background-color: transparent;
  text-shadow: 1px 1px 1px black(.3);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-title;
  font-weight: 400;
  line-height: 1;
}

hr {
  height: 1px;
  border: none;
  background-color: $gray-300;
}
