// bootstrap customization
$font-family-base: 'Roboto', Arial, sans-serif;
$border-radius: 2px !default;

// custom
$font-family-title: 'Roboto Condensed', Arial, sans-serif;
$border-radius-pill: 1000rem;
