.main-menu {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  list-style: none;

  &__link {
    display: block;
    padding: 1.25rem .75rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }

    &_active {
      text-decoration: underline
    }
  }
}
